[$PG_CLUSTER_NAME]
pg1-path=$PG_DATA_DIRECTORY
pg1-user={{ timescaledb_user }}

[global]
repo1-path={{ pgbackrest_directory }}

repo1-cipher-pass=$PGBACKREST_CIPHER_PASS
repo1-cipher-type=aes-256-cbc
repo1-s3-bucket=$PGBACKREST_S3_BUCKET
repo1-s3-endpoint=$PGBACKREST_S3_ENDPOINT
repo1-s3-region=$PGBACKREST_S3_REGION
repo1-s3-key=$PGBACKREST_S3_KEY
repo1-s3-key-secret=$PGBACKREST_S3_KEY_SECRET
repo1-type=s3

repo1-bundle=y
repo1-retention-full-type=time
repo1-retention-full={{ pgbackrest_retention_days }}
repo1-retention-diff={{ pgbackrest_differential_retention }}
